body {
    background-image: url("images/myHeroBackground.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.social {
    display:flex;
    justify-content: center;
}
.social-image {
    width:30px;
}
.header {
    display:flex;
    justify-content:center;
}
.navbar {
    text-align:center;
    font-size:25px;
}
.frontPageImage {
    display:flex;
    width:700px;
    height:auto;
    margin:0 auto;
}
.charactersRow {
    display:flex;
    justify-content: center;
}
.student {   
    margin:5px;
    background-color:black;
    border: solid 2px;
    width:135px;
    height:135px;
}
.deku {
    width:500px;
    height:300px;
}
